.wrapper {
  margin: auto;

  .start-new-kombat-content {
    align-self: center;
    justify-self: center;
    overflow: hidden;
    width: 100%;
    width: 547px;
    margin: 4rem auto;
    padding: 2rem 46px;
    padding-bottom: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='553' height='670' viewBox='0 0 553 670' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_bi_1863_332589)'%3E%3Cpath d='M30.4728 11.1728C37.2675 4.0381 46.6895 0 56.5421 0H496.64C506.862 0 516.602 4.34581 523.431 11.9532L532.851 22.4485L543.791 34.6369C549.72 41.243 553 49.8069 553 58.6837V611.316C553 620.193 549.72 628.757 543.791 635.363L523.431 658.047C516.602 665.654 506.862 670 496.64 670H56.5421C46.6895 670 37.2675 665.962 30.4728 658.827L9.93066 637.257C3.55575 630.564 0 621.674 0 612.43V57.5698C0 48.326 3.55576 39.4364 9.93068 32.7426L30.4728 11.1728Z' fill='%230A0D15' fill-opacity='0.8'/%3E%3Cpath d='M56.5421 0.440135H496.64C506.737 0.440135 516.358 4.73282 523.103 12.2472L532.523 22.7424L543.463 34.9309C549.32 41.4562 552.56 49.9154 552.56 58.6837V611.316C552.56 620.085 549.32 628.544 543.463 635.069L523.103 657.753C516.358 665.267 506.737 669.56 496.64 669.56H56.5421C46.81 669.56 37.5032 665.571 30.7915 658.524L10.2494 636.954C3.95241 630.342 0.440135 621.561 0.440135 612.43V57.5698C0.440135 48.4391 3.95242 39.6581 10.2494 33.0461L30.7915 11.4763C37.5032 4.42886 46.81 0.440135 56.5421 0.440135Z' stroke='white' stroke-opacity='0.15' stroke-width='0.88027'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_bi_1863_332589' x='-20' y='-20' width='593' height='710' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='10'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_1863_332589'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_1863_332589' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='21.1265'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.13 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect2_innerShadow_1863_332589'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;

    h2 {
      color: #fff;
      font-family: 'TuskerGrotesk-Medium-6500';
      font-size: 24px;
      font-style: normal;
      line-height: normal;
    }

    .back-btn {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #fff;
      padding: 12px 24px;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.05);
      background: #0e1119;
      box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.1) inset;

      &:hover {
        transform: scale(0.98);
        transition: all 0.4s linear;
      }
    }

    form {
      position: relative;
      margin-top: 36px;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding-bottom: 72px;
      width: 100%;

      .form-group {
        position: relative;
        width: 100%;

        label {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          color: #fff;
          font-family: 'ABC-Diatype';
          font-size: 16px;
          font-style: normal;
          line-height: normal;

          img {
            width: 14px;
          }
        }

        input,
        textarea {
          margin-top: 1rem;
          width: 100%;
          padding: 1rem 1.5rem;
          border-radius: 16px;
          border: 1px solid rgba(255, 255, 255, 0.07);
          background: rgba(255, 255, 255, 0.02);
          color: #fff;
          font-family: 'ABC-Diatype';
          font-size: 16px;
          line-height: normal;

          &::placeholder {
            color: rgba(255, 255, 255, 0.4);
          }
        }
        textarea {
          min-height: 100px;
          resize: none;
        }
        .amount {
          display: flex;
          justify-content: space-between;
          color: #fff;
        }

        .duration {
          display: flex;
          gap: 1.5rem;
        }
        .options {
          margin-top: 1rem;
          display: flex;
          gap: 1.5rem;

          .option {
            padding: 12px 24px;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.05);
            color: #fff;
            // font-family: 'Blanc Groove';
            font-size: 16px;
            font-style: normal;
            // font-weight: 500;
            line-height: normal;
            cursor: pointer;
          }
          .option.active {
            border-radius: 8px;
            border: 2px solid #f46f0f;
            background: rgba(255, 255, 255, 0.1);
          }
        }
        .error-message {
          margin-left: 0.5rem;
        }
      }

      #next {
        margin-top: 2.5rem;
        height: 60px;
        width: 100%;
        background: #fff;
        color: #000;
        font-family: 'Unbounded', sans-serif;
        font-size: 18px;
        border-radius: 8px;

        &:hover {
          transform: scale(0.98);
          transition: all 0.4s linear;
        }
      }

      #submit-btn {
        margin: 0 auto;
        margin-top: 0.5rem;
        position: absolute;
        right: 0;
        bottom: -25%;
        // left: 50%;
        transform: translate(-20%);
        color: #000;
        font-family: 'ABC-Diatype';
        font-size: 16px;
        font-style: normal;
        line-height: normal;

        &:hover {
          img {
            transform: scale(0.98);
            transition: all 0.4s linear;
          }
        }
        img {
        }
        div {
          position: absolute;
          left: 50%;
          top: 3rem;
          transform: translate(-50%, -2rem);
        }
      }
    }
  }
  .start-new-kombat-content.start-new-kombat-step-two {
    align-self: center;
    justify-self: center;
    overflow: hidden;
    width: 100%;
    width: 547px;
    margin: 4rem auto;
    padding: 2rem 46px;
    padding-bottom: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='553' height='668' viewBox='0 0 553 668' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_bi_1865_332608)'%3E%3Cpath d='M30.4781 11.1339C37.2706 4.02283 46.6764 0 56.5103 0H496.672C506.875 0 516.6 4.33003 523.427 11.9134L532.851 22.3814L543.755 34.4938C549.707 41.1047 553 49.6851 553 58.5804V609.42C553 618.315 549.707 626.895 543.755 633.506L523.427 656.087C516.6 663.67 506.875 668 496.672 668H56.5103C46.6764 668 37.2706 663.977 30.4781 656.866L9.96776 635.394C3.57002 628.696 0 619.79 0 610.528V57.4721C0 48.2098 3.57003 39.3038 9.96778 32.606L30.4781 11.1339Z' fill='%230A0D15' fill-opacity='0.8'/%3E%3Cpath d='M56.5103 0.440135H496.672C506.751 0.440135 516.356 4.71723 523.1 12.2079L532.524 22.6759L543.428 34.7882C549.307 41.3184 552.56 49.7938 552.56 58.5804V609.42C552.56 618.206 549.307 626.682 543.428 633.212L523.1 655.792C516.356 663.283 506.751 667.56 496.672 667.56H56.5103C46.7966 667.56 37.5058 663.586 30.7963 656.562L10.286 635.09C3.96651 628.474 0.440135 619.677 0.440135 610.528V57.4721C0.440135 48.323 3.96652 39.5259 10.2861 32.91L30.7963 11.4379C37.5058 4.41378 46.7966 0.440135 56.5103 0.440135Z' stroke='white' stroke-opacity='0.15' stroke-width='0.88027'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_bi_1865_332608' x='-20' y='-20' width='593' height='708' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='10'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_1865_332608'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_1865_332608' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='21.1265'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.13 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect2_innerShadow_1865_332608'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% auto !important;
    background-position: top center;
    #step-two-form {
      padding-bottom: 218px;
    }
  }
}
