.wrapper {
  margin: auto;

  .start-new-kombat-content {
    align-self: center;
    justify-self: center;
    overflow: hidden;
    width: 100%;
    width: 547px;
    margin: 4rem auto;
    padding: 2rem 46px;
    padding-bottom: 0;
    background: url(../../../assets/images/new-kombat-bg.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 1;

    h2 {
      color: #fff;
      font-family: 'TuskerGrotesk-Medium-6500';
      font-size: 24px;
      font-style: normal;
      line-height: normal;
    }

    .back-btn {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #fff;
      padding: 12px 24px;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.05);
      background: #0e1119;
      box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.1) inset;

      &:hover {
        transform: scale(0.98);
        transition: all 0.4s linear;
      }
    }

    form {
      position: relative;
      margin-top: 36px;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding-bottom: 72px;
      width: 100%;

      .form-group {
        position: relative;
        width: 100%;

        label {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          color: #fff;
          font-family: 'ABC-Diatype';
          font-size: 16px;
          font-style: normal;
          line-height: normal;

          img {
            width: 14px;
          }
        }

        input,
        textarea {
          margin-top: 1rem;
          width: 100%;
          padding: 1rem 1.5rem;
          border-radius: 16px;
          border: 1px solid rgba(255, 255, 255, 0.07);
          background: rgba(255, 255, 255, 0.02);
          color: #fff;
          font-family: 'ABC-Diatype';
          font-size: 16px;
          line-height: normal;

          &::placeholder {
            color: rgba(255, 255, 255, 0.4);
          }
        }
        textarea {
          min-height: 100px;
          resize: none;
        }
        .amount {
          display: flex;
          justify-content: space-between;
          color: #fff;
        }

        .duration {
          display: flex;
          gap: 1.5rem;
        }
        .options {
          margin-top: 1rem;
          display: flex;
          gap: 1.5rem;

          .option {
            padding: 12px 24px;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.05);
            color: #fff;
            // font-family: 'Blanc Groove';
            font-size: 16px;
            font-style: normal;
            // font-weight: 500;
            line-height: normal;
            cursor: pointer;
          }
          .option.active {
            border-radius: 8px;
            border: 2px solid #f46f0f;
            background: rgba(255, 255, 255, 0.1);
          }
        }
        .error-message {
          margin-left: 0.5rem;
        }
      }

      #next {
        margin-top: 2.5rem;
        height: 60px;
        width: 100%;
        background: #fff;
        color: #000;
        font-family: 'Unbounded', sans-serif;
        font-size: 18px;
        border-radius: 8px;

        &:hover {
          transform: scale(0.98);
          transition: all 0.4s linear;
        }
      }

      #submit-btn {
        margin: 0 auto;
        margin-top: 0.5rem;
        position: absolute;
        right: 0;
        bottom: -25%;
        // left: 50%;
        transform: translate(-20%);
        color: #000;
        font-family: 'ABC-Diatype';
        font-size: 16px;
        font-style: normal;
        line-height: normal;

        &:hover {
          img {
            transform: scale(0.98);
            transition: all 0.4s linear;
          }
        }
        img {
        }
        div {
          position: absolute;
          left: 50%;
          top: 3rem;
          transform: translate(-50%, -2rem);
        }
      }
    }
  }
  .start-new-kombat-content.start-new-kombat-step-two {
    align-self: center;
    justify-self: center;
    overflow: hidden;
    width: 100%;
    width: 547px;
    margin: 4rem auto;
    padding: 2rem 46px;
    padding-bottom: 0;
    background: url(../../../assets/images/new-kombat-bg2.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    #step-two-form {
      padding-bottom: 218px;
    }
  }
}
